.grid {
  display: grid;
  grid-template-columns: minmax(390px, 536px) minmax(390px, 536px) minmax(390px, 448px);
  grid-template-areas:
    "balance wallet transactions"
    "transfer status transactions"
    "transfer status transactions";

  @include mixins.fluid(gap, 20px, 12px, 390px, 1600px);

  @media (max-width: 1600px) {
    grid-template-columns: minmax(390px, 1fr) minmax(390px, 1fr);
    grid-template-areas:
      "balance wallet"
      "transfer status"
      "transactions transactions";
  }

  @media (max-width: 840px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "balance"
      "wallet"
      "transfer"
      "status"
      "transactions";
  }
}
.section {
  border: 1px solid rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(250px);
  background: rgba(26, 26, 26, 0.38);

  @include mixins.fluid(padding, 24px, 16px, 390px, 1600px);
  @include mixins.fluid(border-radius, 16px, 12px, 390px, 1600px);
}
