.wallet {
  display: flex;
  flex-direction: column;
  grid-area: wallet;
  position: relative;
  z-index: 2;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mixins.fluid(margin-bottom, 38px, 12px, 390px, 1600px);
}
.button {
  font-weight: 600;
  font-size: 12px;
  padding: 9px 16px;
  border-radius: 20px;
  gap: 8px;
}
.title {
  font-weight: 500;

  @include mixins.fluid(font-size, 20px, 16px, 390px, 1600px);
  @include mixins.fluid(line-height, 30px, 24px, 390px, 1600px);
}
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 8px;
}
.dropdown {
  width: 100%;
}
.copy {
  padding: 12px;
  border-radius: 8px;
}
