.transfer {
  display: flex;
  flex-direction: column;
  grid-area: transfer;
  @include mixins.fluid(gap, 24px, 16px, 390px, 1600px);
}
.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
.head {
  display: flex;
  flex-direction: column;
  @include mixins.fluid(gap, 16px, 8px, 390px, 1600px);
}
.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.field {
  label,
  input {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
  }
  input {
    background: transparent;
    padding: 12px;
  }
  & [class="note"] {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.8);
  }
}
.total {
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.03);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17.5px 18px;
}
.totalTitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
.totalValue {
  font-weight: 500;

  @include mixins.fluid(font-size, 36px, 28px, 390px, 1600px);
  @include mixins.fluid(gap, 54px, 42px, 390px, 1600px);
}
.submit {
  justify-content: center;
  width: 100%;
  max-width: 240px;
  font-weight: 600;
  font-size: 14px;

  @media (max-width: 440px) {
    max-width: 100%;
  }
}
