.main {
  background: url("./img/bg.png") center/ cover no-repeat;
  background-color: #0d0d0d;
  @include mixins.fluid(padding-top, 275px, 142px, 390px, 1600px);
  @include mixins.fluid(padding-bottom, 227px, 47px, 390px, 1600px);

  @media (max-width: 640px) {
    background: url("./img/bg-mob.png") center/ cover no-repeat;
  }
}
.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.icon {
  margin-bottom: 16px;
  @include mixins.fluid(max-width, 44px, 32px, 390px, 1600px);
  @include mixins.fluid(max-height, 44px, 32px, 390px, 1600px);
}
.title {
  width: 100%;
  max-width: 1327px;
  @include mixins.fluid(margin-bottom, 24px, 16px, 390px, 1600px);
}
.textGradient {
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.desc {
  color: #fef4ec;
  max-width: 900px;
  @include mixins.fluid(margin-bottom, 40px, 36px, 390px, 1600px);
}
.button {
  padding: 18.5px 47px;
  justify-content: center;
  --font-size: 17px;

  @media (max-width: 640px) {
    width: 100%;
  }
}
