.status {
  display: flex;
  flex-direction: column;
  grid-area: status;
  gap: 20px;
}
.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
.head {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.main {
  display: flex;
  flex-direction: column;
}
.indicatorStatus {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  gap: 16px;
}
.indicator {
  color: var(--green);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  @include mixins.fluid(width, 64px, 46px, 390px, 1600px);
  @include mixins.fluid(height, 64px, 46px, 390px, 1600px);

  &::before {
    content: "";
    width: 100%;
    border-radius: 50%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background-color: rgba(50, 229, 59, 0.1);
    transform: scale(1);
    animation: pulse 2s infinite;
  }
}
.statusText {
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
}
.quality {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;

  @include mixins.fluid(gap, 10px, 12px, 390px, 1600px);
}
.qualityItem {
  display: flex;
  justify-content: space-between;
}
.qualityTitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.5);
}
.qualityValue {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}
.progress {
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.03);
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 15px;

  @include mixins.fluid(padding-left, 19px, 11px, 390px, 1600px);
  @include mixins.fluid(padding-right, 19px, 11px, 390px, 1600px);
}
.progressTitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.progressValue {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.progressTop {
  display: flex;
  justify-content: space-between;
}
.progressMin,
.progressMax {
  font-weight: 400;
  font-size: 14px;
}
.progressMin {
  color: rgb(255, 255, 255, 0.6);
}
.progressMax {
  color: var(--white);
}
.progressBar {
  border-radius: 40px;
  height: 6px;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
}
.progressTrack {
  border-radius: 40px;
  height: 100%;
  width: 75%;
  background-color: var(--orange);
  position: relative;

  &::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    top: 50%;
    right: 0;
    transform: translate(40%, -50%);
    width: 16px;
    height: 16px;
    background-color: rgba(255, 145, 0, 0.8);
    z-index: 2;
  }
}
.button {
  justify-content: center;
  max-width: 256px;
  font-size: 14px;

  @media (any-hover: hover) {
    cursor: pointer;
    transition: all 0.3s ease 0s;
    &:hover {
      background-color: var(--orange);
      border-color: var(--orange);
      color: var(--white);
    }
  }

  @media (max-width: 440px) {
    max-width: 100%;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(50, 229, 59, 0.2);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
